<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTACT</title>
</head>
<body>
<span>(Đây là hộp thư tự động)</span>
<br/>
<p>Xin chào <th:block th:text="${name}">
</th:block>, cảm ơn bạn đã quan tâm và dành thời gian cho chúng tôi, Yêu cầu của bạn sẽ được chúng tôi phản
    hồi trong thời gian sớm nhất. Nếu bất kỳ thông tin nào khác, xin hãy liên hệ qua số 0977779881 hoặc fanpage của
    chúng tôi.</p>
<div>
    Facebook: https://www.facebook.com/profile.php?id=61566307315716&mibextid=LQQJ4d

</div>
<div>
    Instagram: https://www.instagram.com/sservice.it?igsh=YTdyMW8zbDUwbGJw

</div>
<br/>
<span>
Xin trân trọng cảm ơn

</span>
<br/>
<span>
S-Service

</span>

</body>
</html>