<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW PASSWORD</title>
</head>
<body>
<span>(Đây là hộp thư tự động)</span>
<br/>
<p>Mật khẩu mới của bạn là <th:block th:text="${password}"></th:block>, vui lòng đăng nhập và đổi mật khẩu mới.</p>
<div>
    Facebook: https://www.facebook.com/profile.php?id=61566307315716&mibextid=LQQJ4d

</div>
<div>
    Instagram: https://www.instagram.com/sservice.it?igsh=YTdyMW8zbDUwbGJw

</div>
<br/>
<span>
Xin trân trọng cảm ơn

</span>
<br/>
<span>
S-Service

</span>
</body>
</html>